@using mastersband.Helpers
@section styles
{
    <link rel="stylesheet" href="~/CSS/index.css" />
}
@section hero
{
    <img src="~/assets/web/index_hero.png" />
}

<div class="audio-player">
    <h2 class="album-title">Don't Block the Box</h2>
    <div class="playlist clearfix">
        <img src="~/assets/audio/motu_dbtb/folder_thumb.jpg" />
        <ol class="playlist-entries">
            @Html.Playlist("~/assets/audio/motu_dbtb")
        </ol>
    </div>
    <audio id="audioplayer" preload="auto" tabindex="0" controls>
        <source src="~/assets/audio/motu_dbtb/Masters of the Universe - Don't Block the Box - 01 Tree Veins.mp3" />
    </audio>
</div>
<div class="site-menu">
    <ul class="site-links">
        <li class="site-link">
            <a href="@Url.Action("Music")">
                <img src="~/assets/web/music_link.png" /><span>Music</span>
            </a>
        </li>
        <li class="site-link">
            <a href="@Url.Action("Images")">
                <img src="~/assets/web/images_link.png" /><span>Images</span>
            </a>
        </li>
        <li class="site-link">
            <a href="@Url.Action("Video")">
                <img src="~/assets/web/video_link.png" /><span>Video</span>
            </a>
        </li>
        <li class="site-link">
            <a href="@Url.Action("Info")">
                <img src="~/assets/web/info_link.png" /><span>Info</span>
            </a>
        </li>
    </ul>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () {
            var a = document.createElement('audio');
            if (!a.canPlayType)
                return;
            
            var audio = $('#audioplayer');
            var playlist = $('.playlist-entries');
            var tracks = playlist.find('li a');

            var current = $(tracks[0]).parent();
            current.addClass('active');
            
            function init() {
                audio[0].volume = .5;

                tracks.on('click', function(e) {
                    e.preventDefault();
                    var link = $(this);
                    current && current.removeClass('active');
                    current = link.parent();
                    run(link, audio[0]);
                });
            }
            
            function run(link, player) {
                player.src = link.attr('href');
                var li = link.parent();
                li.addClass('active');
                player.load();
                player.play();
            }

            init();
        })();
    </script>
}